{% extends 'base.html.twig' %}

{% block title %}O'flix
{% endblock %}

{% block body %}
	<div class="my-5 py-5 text-center">
		<img src="logo/favicon.png" height="100" alt="Logo O'flix" class="mb-3">
		<h1 class="display-6 fw-bold title">Films, séries TV et popcorn en illimité.</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4 text-muted">Où que vous soyez. Gratuit pour toujours.</p>
		</div>
	</div>

	<div class="container-xl bg-light p-5 border-top">
		<div class="row mb-2">
			<div class="col-12 col-lg-3">
				<h2 class="text-center text-muted fw-bold mb-4">Catégories</h2>
				<ul class="d-flex flex-column flex-wrap list-unstyled justify-content-center">
					{% for category in categories %}
						<li class="btn btn-sm btn-outline-danger mx-1 mb-2">{{ category.name }}</li>
					{% endfor %}
				</ul>
			</div>

			<div class="col-12 col-lg-9">

				<h2 class="text-muted fw-bold mb-4">Les nouveautés</h2>

				{% for tvShow in latestTvshows %}
					<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm bg-white position-relative">
						<div class="col-4 movie__poster">
							<img src="affiche/{{tvShow.image}}" class="img-fluid">
						</div>
						<div class="col-8 p-4 d-flex flex-column position-static">
							<a href="" class="movie__favorite fs-1 my-2 mx-3 link-danger">
								<i class="bi bi-bookmark-plus"></i>
							</a>
							<strong class="d-inline-block mb-1 text-primary">{{ tvShow.format.type }}</strong>
							<h3 class="mb-1">{{ tvShow.title }}</h3>
								<div class="mb-1 text-muted">
							<p>
								{{ tvShow.seasons | length }}
								{% if tvShow.seasons | length <= 1 %}
									Saison 
								{% elseif tvShow.seasons | length >= 2 %}
									Saisons 
								{% endif %}
							</p>
							</div>

							<p>
                           		{% for category in tvShow.categories %}                              
                            		<span class="badge bg-warning text-dark">{{ category.name }}</span>
                            	{% endfor %}
                        	</p>

							<p>
								<small>
									{{ tvShow.synopsis | striptags | slice(0, 200) }} ...
								</small>
							</p>

							<div class="d-flex mb-2" style="color: orange;">
								<span class="ps-1">{{tvShow.nbLikes}}</span>
								<i class="bi bi-star-fill"></i>
							</div>

							<a href="{{ path('tvshow_read', {id:tvShow.id}) }}" class="fs-1 mt-3 text-danger align-self-start">
								<i class="bi bi-arrow-right-square"></i>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>

			<nav class="col-lg-7 offset-lg-5">
				<ul class="pagination">
					<li class="page-item disabled">
						<a class="page-link">&laquo;</a>
					</li>
					<li class="page-item active">
						<a class="page-link" href="#">1</a>
					</li>
					<li class="page-item" aria-current="page">
						<a class="page-link" href="#">2</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">3</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="#">&raquo;</a>
					</li>
				</ul>
			</nav>

		</div>

	</div>
{% endblock %}
